.menu {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    color: inherit;
}
a:link {
    text-decoration: none !important;
}
a:-webkit-any-link {
    color: black;
}
.h1:hover {
    font-weight: 700;
    color: #0073CF;
}
.h2:hover {
    font-weight: 700;
    color: #0073CF;
}
.h3:hover {
    font-weight: 700;
    color: #0073CF;
}
.h4:hover {
    font-weight: 700;
    color: #0073CF;
}
.h5:hover {
    font-weight: 700;
    color: #0073CF;
}

